[submodule "lib/automata-dcap-attestation"]
	path = lib/automata-dcap-attestation
	url = https://github.com/automata-network/automata-dcap-attestation
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
